
config internal 'common'
	option rpc_func_path '/usr/lib/cgi-rpc/rpc-func/'
	option common_func_path '/usr/bin/'
	option auth_network '192.168.208.0/24'
	option auth_timeout '300'
	option auth_password 'devboard'

config internal 'debug'
	# Set this to 1 for debug output and non-auto restarting network/wifi
	option enabled '0'

